<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>htmlpro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>  
  </welcome-file-list>
  
  
  <context-param>
  <param-name>pass</param-name>
  <param-value>pass1234567</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>modi</servlet-name>
  <servlet-class>max.FirstServlet</servlet-class>
  <init-param>
  <param-name>a</param-name>
  <param-value>abc@gmail.com</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>modi</servlet-name>
  <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>